<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-globe text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Sum Ticket</p>
                <p class="card-title">{{ sumTicket }}</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats"><i class="fa fa-refresh"></i></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Done Ticket</p>
                <p class="card-title">{{ countDoneTicket }}</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats"><i class="fa fa-calendar-o"></i></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">In-Progress Ticket</p>
                <p class="card-title">{{ countInProgressTicket }}</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="fa fa-clock-o"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-favourite-28 text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Not Start Ticket</p>
                <p class="card-title">{{ countNotStartTicket }}</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats"><i class="fa fa-refresh"></i> Update now</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header row">
      <div class="col-md-4">
        <h5 class="card-title">Ticket Statictis Monthly</h5>
        <p class="card-category">24 Hours performance</p>
      </div>

      <div class="col-md-8">
        <form [formGroup]="form" id="form-1">
          <div class="row">
            <div class="col-sm-12 col-md-4 form-group">
              <label class="pt-1">Date</label>
              <input
                maxlength="255"
                (keyup.enter)="search()"
                class="form-control"
                formControlName="date"
                autocomplete="none"
                placeholder="Enter your date"
                type="date"
              />
            </div>

            <div class="col-sm-12 col-md-4 form-group">
              <label class="pt-1">Month</label>
              <input
                class="form-control"
                (keyup.enter)="search()"
                formControlName="month"
                autocomplete="none"
                placeholder="Enter your month"
                type="month"
              />
            </div>

            <div class="col-sm-12 col-md-4 form-group">
              <label class="pt-1">Year</label>
              <input
                maxlength="255"
                (keyup.enter)="search()"
                class="form-control"
                formControlName="year"
                autocomplete="none"
                placeholder="Enter your year"
                type="year"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-body">
      <canvas id="columnChart" width="400" height="100"></canvas>
    </div>
    <div class="card-footer">
      <div class="chart-legend">
        <i class="fa fa-circle text-info"></i> Tesla Model S
        <i class="fa fa-circle text-warning"></i> BMW 5 Series
      </div>
      <hr />
      <div class="card-stats">
        <i class="fa fa-check"></i> Data information certified
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Ticket Rate</h5>
          <p class="card-category">Last Campaign Performance</p>
        </div>
        <div class="card-body">
          <canvas id="chartEmail"></canvas>
        </div>
        <div class="card-footer">
          <div class="legend">
            <i class="fa fa-circle text-primary"></i> Done
            <i class="fa fa-circle text-warning"></i> Not start
            <i class="fa fa-circle text-gray"></i> In Progress
          </div>
          <hr />
          <div class="stats">
            <!-- <i class="fa fa-calendar"></i> Number of emails sent -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">NASDAQ: AAPL</h5>
          <p class="card-category">Line Chart with Points</p>
        </div>
        <div class="card-body">
          <canvas id="speedChart" height="100"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-info"></i> Ticket Done
            <i class="fa fa-circle text-warning"></i> Ticket Not Start
            <i class="fa fa-circle text-danger"></i> Ticket In Progress
          </div>
          <hr />
          <div class="stats">
            <i class="fa fa-history"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
