<div [ngStyle]="{ 'background-image': backgroundImage }" class="background">
  <div class="position_button">
    <label class="label btn btn-primary">
      <input placeholder="Scan" #fileConfirm type="file" (change)="onSelectToConfirm(fileConfirm.files)"
        [accept]="'.jpg, .png, .gif, .jpeg'" />

      <div *ngFor="let item of qrCodeConfirm" hidden="true">
        <ngx-scanner-qrcode #actionFile="scanner" [src]="item.url" [config]="config"
          (event)="confirm(actionFile.data.value)"></ngx-scanner-qrcode>
      </div>
      <i class="fa-solid fa-qrcode mr-1"></i>
      <span>Scan to confirm</span>
    </label>

    <label class="label btn btn-success">
      <input placeholder="Scan" #file type="file" (change)="onSelectToComment(file.files)"
        [accept]="'.jpg, .png, .gif, .jpeg'" />

      <div *ngFor="let item of qrCodeResult" hidden="true">
        <ngx-scanner-qrcode #actionFile="scanner" [src]="item.url" [config]="config"
          (event)="show(actionFile.data.value)"></ngx-scanner-qrcode>
      </div>
      <i class="fa-solid fa-qrcode mr-1"></i>
      <span>Scan to comment</span>
    </label>
  </div>

  <section class="articles">
    <article *ngFor="let item of listService">
      <div class="article-wrapper">
        <figure>
          <img [src]="item.imageBase64" style="width: 100%" />
        </figure>
        <div class="article-body">
          <h2>{{ item.name }}</h2>
          <p>
            {{ item.description }}
          </p>
          <a href="#" class="read-more" (click)="openModal(item)">
            Register
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
  </section>
</div>